extends patient_layout

block header
  div(data-role='header')
    h1(id='header') Find A Doc
    a(id='nav-button', data-role='button', href='/clinic', data-icon='back', data-corners='false', data-ajax='false') Back
    a(id='login-button', data-role='button', href='/login', data-icon='user', data-corners='false') Sign Up
  div(data-role='navbar')
    ul
      li: a(href='/clinic1') Patient Services
      li: a(href='/clinic2') Insurances Accepted
      li: a(href='/clinic3') Reviews
  
block content
  
block prepend footer
  a(data-role="button", data-icon="phone", data-inline="true") Call
  a(data-role="button", data-icon="phone", data-inline="true", href="/") Uber
