extend c_layout

block content
  p
    | Bug bites and stings <br /> 
    | Bone breaks <br />
    | Common colds <br />
    | Headaches and migraines <br />
    | Allergic reactions <br />
    | Asthma attacks <br />
    | Indigestion <br />
    | Dehydration <br />
    | Automobile accidents <br />
    | Joint pain <br />
    | Muscle soreness
