<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Find A Doc</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="stylesheets/main.css" />
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
    <div data-role="page" id="profile" data-title="profile">
        <div data-role="content">
            <div data-role="header">
                <h1>Clinic Name</h1>
                <a data-role="button" href="/" data-icon="home" data-corners="false">Home</a>
                <a data-role="button" href="/user" data-icon="user" data-corners="false">Profile</a>
            </div>
            <div data-role="navbar">
                <ul>
                    <li><a href="#patientservices">Patient Services</a></li>
                    <li><a href="#insurance">Insurance Accepted</a></li>
                </ul>
            </div>
            <p> 1400 Cambridge St, Cambridge, MA 02138 <br />
                Hours Today: 8:00 am - 8:00 pm <br />
                Phone: (617) 714-4534</p>
                <div id="map" class="center"></div>
            <script src="js/main.js"></script>
            <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
                async defer></script>
        </div>

    <div data-role="footer">
        <a data-role="button" data-icon="phone" data-inline="true">Call</a>
        <a href="/" data-role="button" data-inline="true" data-theme="b">Uber</a>
    </div>
    </div>

<div data-role="page" id="patientservices">

    <div data-role="content">
            <div data-role="header">
                <h1>Clinic Name</h1>
                <a data-role="button" href="/clinic" data-icon="carat-l" data-corners="false">Back</a>
            </div>
            <div data-role="navbar">
                <ul>
                    <li><a href="#patientservices">Patient Services</a></li>
                    <li><a href="#insurance">Insurance Accepted</a></li>
                </ul>
            </div>
            <p> Bug bites and stings <br />
                Bone breaks <br />
                Common colds <br />
                Headaches and migraines <br />
                Allergic reactions <br />
                Asthma attacks <br />
                Indigestion <br />
                Dehydration <br />
                Automobile accidents <br />
                Joint pain <br />
                Muscle soreness <br />
            </div>
    <div data-role="footer">
        <a data-role="button" data-icon="phone" data-inline="true">Call</a>
        <a href="/" data-role="button" data-inline="true" data-theme="b">Uber</a>
    </div>
</div>

<div data-role="page" id="insurance">

    <div data-role="content">
            <div data-role="header">
                <h1>Clinic Name</h1>
                <a data-role="button" href="/clinic" data-icon="carat-l" data-corners="false">Back</a>
            </div>
            <div data-role="navbar">
                <ul>
                    <li><a href="#patientservices">Patient Services</a></li>
                    <li><a href="#insurance">Insurance Accepted</a></li>
                </ul>
            </div>
            <p> Aetna <br />
                Blue Cross Blue Shield of Massachusetts <br />
                Blue Cross Blue Shield of Rhode Island <br />
                Cigna <br />
                ConnectiCare, Inc. <br />
                ConnectiCare of Massachusetts <br />
                Consolidated Health Plans PPO <br />
                Fallon Community Health Plan (FCHP) <br />
                Harvard Pilgrim Health Care, Inc. <br />
                Health New England <br />
                MassHealth <br />
                Neighborhood Health Plan <br />
                Network Health <br />
                Tufts Associated Health Plans, Inc. <br />
                UnitedHealthCare <br /></p>

    </div>
    <div data-role="footer">
        <a data-role="button" data-icon="phone" data-inline="true">Call</a>
        <a href="/" data-role="button" data-inline="true" data-theme="b">Uber</a>
    </div>

    </div>
</div>
</body>
</html>