extend c_layout

block content
  p
    | Aetna <br />
    | Blue Cross Blue Shield of Massachusetts <br />
    | Blue Cross Blue Shield of Rhode Island <br />
    | Cigna <br />
    | ConnectiCare, Inc. <br />
    | ConnectiCare of Massachusetts <br />
    | Consolidated Health Plans PPO <br />
    | Fallon Community Health Plan (FCHP) <br />
    | Harvard Pilgrim Health Care, Inc. <br />
    | Health New England <br />
    | MassHealth <br />
    | Neighborhood Health Plan <br />
    | Network Health <br />
    | Tufts Associated Health Plans, Inc. <br />
    | UnitedHealthCare
