<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Find A Doc</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="stylesheets/main.css" />
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
    <div data-role="page" id="profile" data-title="profile">
        <div data-role="content">
            <div data-role="header">
                <h1>Clinic Name</h1>
                <a data-role="button" href="/list" data-icon="carat-l" data-corners="false">Back</a>
                <a data-role="button" href="/user" data-icon="user" data-corners="false">Profile</a>
            </div>
            <div data-role="navbar">
                <ul>
                    <li><a href="/clinic1">Patient Services</a></li>
                    <li><a href="/clinic2">Insurance Accepted</a></li>
                    <li><a href="/clinic3">Reviews</a></li>
                </ul>
            </div>
            <table>
                <tr>
                    <th>March 17, 2016</th>
                    <th>Overall Rating</th>
                    <th>Wait Time</th>
                </tr>
                <tr>
                    <td>by a Verified Patient</td>
                    <td>★★★★★</td>
                    <td>★★★★★</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Excellent care. Will come again.</td>
                </tr>  
            </table>

            <table>
                <tr>
                    <th>March 14, 2016</th>
                    <th>Overall Rating</th>
                    <th>Wait Time</th>
                </tr>
                <tr>
                    <td>by a Verified Patient</td>
                    <td>★★★★★</td>
                    <td>★★★★</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Compassionate staff. I love it!</td>
                </tr>  
            </table>

        </div>
    <div data-role="footer">
        <a data-role="button" data-icon="star" data-inline="true">Write a Review</a>
    </div>

</div>
</body>
</html>