<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Find A Doc</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="stylesheets/main.css"/>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

<div data-role="page" id="patientservices">

    <div data-role="content">
            <div data-role="header" data-theme=b> 
                <h1>Clinic Name</h1>
                <a style="font-size:20px;color:#fff;" data-role="button" href="/list"  data-corners="false"><span data-icon="&#x34;"></span></a>
            </div>
            <div data-role="navbar">
                <ul>
                    <li><a href="/clinic1">Services</a></li>
                    <li><a href="/clinic2">Insurance</a></li>
                    <li><a href="/clinic3">Reviews</a></li>
                </ul>
            </div>
            <p> Bug bites and stings <br />
                Bone breaks <br />
                Common colds <br />
                Headaches and migraines <br />
                Allergic reactions <br />
                Asthma attacks <br />
                Indigestion <br />
                Dehydration <br />
                Automobile accidents <br />
                Joint pain <br />
                Muscle soreness <br />
            </p>
            </div>
    <div data-role="footer" data-theme=b>
        <a class="book" data-role="button" data-inline="true">Book</a>
        <a data-role="button" data-inline="true">Call</a>
        <a href="/" data-role="button" data-inline="true">Uber</a>
        <script src="js/book.js"></script>
    </div>
</div>

</body>
</html>
