extends c_layout

block content
  div(id='clinicInfo')
  div(id='map', class='center')
  table(id='reviewTable')
    tr
      th Hours
    tr
      td Monday
      td 8:00 am - 8:00 pm
    tr
      td Tuesday
      td 8:00 am - 8:00 pm
    tr
      td Wednesday
      td 8:00 am - 8:00 pm
    tr
      td Thursday
      td 8:00 am - 10:00 pm
    tr
      td Saturday
      td 8:00 am - 10:00 pm
    tr
      td Sunday
      td 8:00 am - 4:00 pm
      
block append after-scripts
  script(type='text/javascript', src='js/clinic.js')
  script(async, defer, type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAiGex8CekhR6f7I6WFRuSFi6Mg8o7bJ2k&libraries=places&callback=populateClinicPage')
