<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Find A Doc</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="stylesheets/main.css" />
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

<div data-role="page" id="insurance">

    <div data-role="content">
            <div data-role="header">
                <h1>Clinic Name</h1>
                <a data-role="button" href="/list" data-icon="carat-l" data-corners="false">Back</a>
            </div>
            <div data-role="navbar">
                <ul>
                    <li><a href="/clinic1">Patient Services</a></li>
                    <li><a href="/clinic2">Insurance Accepted</a></li>
                    <li><a href="/clinic3">Reviews</a></li>
                </ul>
            </div>
            <p> Aetna <br />
                Blue Cross Blue Shield of Massachusetts <br />
                Blue Cross Blue Shield of Rhode Island <br />
                Cigna <br />
                ConnectiCare, Inc. <br />
                ConnectiCare of Massachusetts <br />
                Consolidated Health Plans PPO <br />
                Fallon Community Health Plan (FCHP) <br />
                Harvard Pilgrim Health Care, Inc. <br />
                Health New England <br />
                MassHealth <br />
                Neighborhood Health Plan <br />
                Network Health <br />
                Tufts Associated Health Plans, Inc. <br />
                UnitedHealthCare <br /></p>

    </div>
    <div data-role="footer">
        <a data-role="button" data-icon="phone" data-inline="true">Call</a>
        <a href="/" data-role="button" data-inline="true" data-theme="b">Uber</a>
    </div>

    </div>
</div>
</body>
</html>