extends clinic

block scripts
  link(rel="stylesheet", type="text/css", href="js/scripts/rateit.css")
  script(src="js/scripts/jquery.rateit.js")
  script(type="text/javascript" src="js/main.js")


block content
  table(id="reviewTable")
    tr
      th March 17, 2016
      th Overall Rating
    tr
      td by a Verified Patient
      td ★★★★★
    tr
      td
      td(colspan="2") Excellent care. Will come again.
    tr
      th March 14, 2016
      th Overall Rating
    tr
      td by a Verified Patient
      td ★★★★★
    tr
      td
      td(colspan="2") Compassionate staff. I love it!

  
block prepend footer
    a(href="#reviewPopup" data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all ui-icon-check ui-btn-icon-left") Write a Review
    div(data-role="popup" id="reviewPopup" class="ui-content" style="min-width:250px;")
      form(method="post" action="javascript:reviewClinic()")
        div(data-role="header")
          h3 Post Review
          a(data-role="button", href="/clinic3", data-corners="false") Close
          label(for="rating" class="ui-hidden-accessible") 
          input(type="range" name="rate" id="rating" min="1" max="5" step="1")
          label(for="review" class="ui-hidden-accessible") 
          input(type="text" name="rate" id="review" placeholder="Write review here")
          input(type="submit",id="post", value="Post") 






