extends patient_layout

block content

  div(id='findClinics') Find Clinics in:
  
  div(id='locationField')
    input(id='autocomplete', placeholder='Enter a city', type='text')
    
  div(id='map',class='center')
  
  div(id='listing')
    table(id='resultsTable')
      tbody(id='results')
      
  div(style='display: none')
    div(id='info-content')
      table
        tr(id='iw-url-row', class='iw_table_row')
          td(id='iw-icon' class='iw_table_icon')
          td(id='iw-url')
        tr(id='iw-address-row', class='iw_table_row')
          td(class='iw_attribute_name') Address:
          td(id='iw-address')
        tr(id='iw-phone-row', class='iw_table_row')
          td(class='iw_attribute_name') Telephone:
          td(id='iw-phone')
        tr(id='iw-website-row', class='iw_table_row')
          td(class='iw_attribute_name') Website:
          td(id='iw-website')
        tr(id='iw-call-row', class='iw_call_row')
          a(href='http://ibuildapp.com/images/features/screenshots/tap-to-call-2.png')
            img(src='img/callicon.png', style='width:50px;height:50px;')
        tr(id='iw-uber-row', class='iw_uber_row')
          a(href='https://s-media-cache-ak0.pinimg.com/564x/8b/90/56/8b9056eadc3b968e0733f008a23aa64d.jpg')
            img(src='img/uber.jpg', style='width:50px;height:50px;')

block after-scripts
  script(type='text/javascript', src='js/main.js')
  script(async, defer, type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAiGex8CekhR6f7I6WFRuSFi6Mg8o7bJ2k&libraries=places&callback=initMap')
  script $(document).ready(populatePageHeader())
