<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Find A Doc</title>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="stylesheets/main.css" />
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
    <div data-role="page">
        <div data-role="content">
            <div data-role="header">
                <h1>Find A Doc</h1>
                <a data-role="button" href="/" data-icon="back" data-corners="false">Back</a>
                <a data-role="button" href="/user" data-icon="user" data-corners="false">User</a>
            </div>
            <div id="findClinics">
                Find Clinics in:
                </div>

                <div id="locationField">
                <input id="autocomplete" placeholder="Enter a city" type="text" />
                </div>


                <div id="map"></div>

                <div id="listing">
                <table id="resultsTable">
                    <tbody id="results"></tbody>
                </table>
                </div>

                <div style="display: none">
                <div id="info-content">
                    <table>
                    <tr id="iw-url-row" class="iw_table_row">
                        <td id="iw-icon" class="iw_table_icon"></td>
                        <td id="iw-url"></td>
                    </tr>
                    <tr id="iw-address-row" class="iw_table_row">
                        <td class="iw_attribute_name">Address:</td>
                        <td id="iw-address"></td>
                    </tr>
                    <tr id="iw-phone-row" class="iw_table_row">
                        <td class="iw_attribute_name">Telephone:</td>
                        <td id="iw-phone"></td>
                    </tr>
                    <tr id="iw-website-row" class="iw_table_row">
                        <td class="iw_attribute_name">Website:</td>
                        <td id="iw-website"></td>
                    </tr>
                    </table>
                </div>
            </div>
            <script src="js/main.js"></script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiGex8CekhR6f7I6WFRuSFi6Mg8o7bJ2k&libraries=places&callback=initMap"
        async defer></script>
        </div>
        <div data-role="footer">
            <p class="copyright">&copy; Copyright 2016</p>
        </div>
    </div>
</body>
</html>