doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Find A Doc
    link(rel='stylesheet', href='stylesheets/main.css')
    link(rel="stylesheet", href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css")
    script(src="http://code.jquery.com/jquery-1.11.1.min.js")
    script(src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")
    
  body
    div(data-role="page")
      div(data-role="content")
        div(data-role="header")
          h1 Find A Doc
        a(href="/incomingpatients", class="ui-btn") Clinic Demo
        a(href="/home", class="ui-btn") Patient Demo
        
      div(data-role="footer")
        p(class="copyright") &copy Copyright 2016
    
