<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Find A Doc</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
    <div data-role="page">
        <div data-role="content">
            <div data-role="header">
                <h1>Clinics Nearby</h1>
                <a data-role="button" href="/" data-icon="home" data-corners="false">Home</a>
            </div>
            <form class="ui-filterable">
                <input id="filterBasic-input" data-type="search">
            </form>
            <ul data-role="listview" data-filter="true" data-inset="true" data-input="#filterBasic-input">
                <li><a href="/clinic">Tufts MC Primary Care Boston</a></li>
                <li><a href="/clinic">Boston Medical Center Copley Square</a></li>
                <li><a href="/clinic">Harvard Hall Health Care</a></li>
            </ul>
        </div>
        <div data-role="footer">
            <p class="copyright">&copy; Copyright 2016</p>
        </div>
    </div>
</body>
</html>