/* Map Styles */
#map {
width: 500px;
height: 400px;
}

/* Alignment Styles */
.center {
    margin: 0 auto;
}
#user-img {
    display: block;
}
#user-img img {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}

/* table styles */
.tablerow {
    display: inline-block;
    width: 100%;
}
.left-table {
    text-align: right;
    width: 25%; float: left;
    padding-right: 2%;
    font-weight: bold;
}
.right-table {
    text-align: left;
    width: 73%; float: left;
}

table {
    border-collapse: collapse;
}
td {
    padding: 0;
    border: none;
}


